@using IP3_Group4.Models;
@model Receipt

    @{
        ViewBag.Title = "Details";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Details</h2>

    <table class="table">
        <tr>
            <th>
                Brand
            </th>
            <th>
                Item
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
        </tr>

        @foreach (var item in Model.ProductLines) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    £@Html.DisplayFor(modelItem => item.Price)
                </td>
            </tr>
            }
    </table>

    <p>@Html.ActionLink("Edit", "EditReceipt", new {id = item.ID})</p>