@{
    ViewBag.Title = "Upload Receipt";
}
<h2>Upload Receipt</h2>
@using (Html.BeginForm("UploadReceipt", "Receipt", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    if (ViewBag.Successful == "y")
    {
        <div class="alert alert-success">Receipt uploaded successfully!</div>
    }
    else if (ViewBag.Successful == "n")
    {
        <div class="alert alert-danger">Receipt upload failed.</div>
    }

    <div>
        @Html.TextBox("file", "", new { type = "file", id = "filename" }) <br />
        <input type="submit" value="Upload" />
    </div>
}