
@{
    ViewBag.Title = "BudgetOverview";
}

<h2>Budget Overview</h2>

Users can view info on how much of their budget the've spent here.
Maybe also be able to set / change budget here? Or that can be an additional page if needed.