@using IP3_Group4.Models;
@model Analytics
@{
    ViewBag.Title = "Spending";
}

<h2>Spending</h2>

Users can view info on all their spending here (ie. what they've spent most of their money on, etc.)

@Html.Partial("_shopChart", Model)