@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>

<p>In the midst of the cost of living crisis, it's important for everyone to be aware of what they're spending. We designed ReceiptR to help you do exactly that. All you have to do is scan a receipt, and we'll tell you exactly what you bought, and how much of it you bought, as well as where you bought it from.</p>

<h3>The Team</h3>
<div class="row">
    <div class="col-md-6">
        <h4>Callum Armstrong</h4>
        <p>Callum was the first to come up with the idea for ReceiptR.</p>
    </div>
    
    <div class="col-md-6">
        <h4>Johnathan Graham</h4>
        <p>The brains behind the brains that make ReceiptR work.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>Theodoros Ioannou</h4>
        <p>The resident designer who created ReceiptR's interface.</p>
    </div>
    <div class="col-md-6">
        <h4>Alastair Kilgour</h4>
        <p>The one who made ReceiptR read receipts.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4>Eilidh Martin</h4>
        <p>Keeping ReceiptR working since 2023.</p>
    </div>
    <div class="col-md-6">
        <h4>Declan Mills</h4>
        <p>The guy who made the interface work.</p>
    </div>
</div>