@{
    ViewBag.Title = "Contact";
}

<script>
    $(document).ready(function () {
        $('footer').empty();
    });
</script>

<h2 onload="removeFooter();">Contact Us</h2>
<p>Want to get in contact with us? You can do so with the details on this page.</p>
<div class="row" id="contact-details">
    <div class="col-md-6">
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">support@receiptr.com</a><br />
            <strong>Enquiries:</strong> <a href="mailto:enquiries@example.com">enquiries@receiptr.com</a><br />
            <strong>Phone:</strong> 0141 496 0569
        </address>
    </div>
    <div class="col-md-6">
        <address>
            Group Study Room 2<br />
            Student Union<br />
            Cowcaddens Rd<br />
            Glasgow, G4 0BA<br />
            Scotland
        </address>
    </div>
</div>


































